@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@media print {
  header, footer, aside, nav {
    display: none !important;
  }
  body {
    background: white !important;
    color: black !important;
  }
  .print\:hidden {
    display: none !important;
  }
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 16s linear infinite;
}
